#logo {
    background: #15178b;
  }
  #menu ul li:hover {
    background: #15178b;
  }
  .button-more {
    background: #15178b;
  }
  body {
    background: url("../css/image/cielo.jpg");
    background-attachment: fixed;
  }