#logo {
    background: #235e3d;
  }
  #menu ul li:hover {
    background: #235e3d;
  }
  .button-more {
    background: #235e3d;
  }
  body {
    background: url("../css/image/hojas.jpg");
    background-attachment: fixed;
  }